<h1>Hello there!</h1>
<p>Welcome to Friendsbook</p><br>
<p> Please log in to your Friendsbook account</p><br>
<a href="/account/login">Login</a>
<p> Please Signup if you are new to Friendsbook</p><br>
<a href="/account/signup">Signup</a>
